<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      コンプガチャ期待値計算機
    </title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="main">
      <h2>アイテムをコンプリートするのに必要なガチャの回数の期待値を計算します </h2>
      <table>
        <tr>
          <th>カテゴリー</th><th>アイテム個数</th><th>ドロップ確率(1アイテム)</th>
          <th>ドロップ確率(カテゴリ全体)</th>
        </tr>
        <tr v-for="(c, index) in categories">
          <td> <input type="text" v-model="c.category"/></td>
          <td> <input type="number" v-model.number="c.number" min="1"/></td>
          <td> {{ c.probability/c.number }} %</td>
          <td> <input type="number" v-model.number="c.probability" min="0"/>%</td>
        </tr>
      </table>
      <button v-on:click="add_category()"> +アイテムカテゴリを追加 </button>
      <div v-bind:class="is_total_one">トータル確率 = {{rounded_total(2)}}%</div>

      <button v-on:click="calculate()" id="cal" :disabled="button_state.disabled"> {{ button_state.text }}</button>
      <p>計算結果: {{result_view}}回</p>
      <button v-on:click="debug()" style="display: none">デバッグ</button>
    </div>
    <a href="https://github.com/sxarp/gacha-calculas">ソースコード</a>
    <script src="vue.js"></script>
  </body>
</html>
